nav{
    border: rgba(79, 77, 77, 0.363) solid 0.5em;
    border-radius: 1em;
    margin-left: -18vw;
}

nav > ul{
    margin-top: 2em;
    display: flex;
    height: 3em;
}
nav li{
    flex-basis: 90%;
    color: gray;
    font-size: 0.9em;
    list-style: none;
    text-decoration: none
}

nav li:hover{
    transition: border 0.5s;
    border-top: purple solid 1em;
    border-bottom: purple solid 1em;
    border-radius: 0.4em;
}
nav a:hover{
    color: gray;
}

nav a{
    padding-left: 20%;
    color: purple;
}

@media (max-width: 869px) {
    nav > ul   {
    flex-wrap: wrap;
    }
    nav li{
        padding-bottom: 1%;
    }
    nav{
        height:60%;
        margin-bottom: 30%;
    }
  }